/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 5px;
}

.general {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    height: 100%;

}


button {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}

/* Utils */

div.general>div {
    height: 500px;
    border: dotted;
}



/* HEADER */
header {
    background-color: #3161E0;
    height: 50px;

}

div.header-container>div {
    display: flex;
    align-items: center;
}

.header-login {
    justify-content: flex-end;
}

h1 {
    margin-bottom: 20px;
}

div.header-link>* {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


div.header-container>div {
    height: 50px;
    flex-basis: 100px;
    border: dotted;
}

.header-logo,
.header-login {
    flex-grow: 1;
}

.header-link {
    flex-grow: 2;
}


/* MAIN */

/* Spotlight section*/
.spotlight {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    height: 800px;
}

div.spotlight-container>div {
    border: dotted;
    max-width: 70%;
}

.spotlight-content>* {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
}

div.spotlight-content>h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
}

div.spotlight-content>p {
    font-size: small;
    line-height: 1.5em;
}

div.spotlight-content>.light-button {
    color: black;
    margin-left: 120px;
    ;
}

.arrow {
    font-weight: bolder;
    margin-right: 5px;
}

div.spotlight-content>.dark-button {
    color: white;
    background-color: #23272A;
    margin-left: 20px;
}



/* Servers section*/
.servers {
    background-color: #fff;
    height: 800px;
}

div.servers-container>div {
    border: dotted;
}

.servers-image {
    flex-basis: 60%;
}

.servers-text {
    flex-basis: 40%;
    flex-grow: 1;
}

/* Channels section */

.channels {
    background-color: #F6F6F6;
    height: 800px;
}

div.channels-container>div {
    border: dotted;
}

.channels-text {
    flex-basis: 40%;
    flex-grow: 1;
}

.channels-image {
    flex-basis: 60%;
}

/* Fandom section*/

.fandom {
    background-color: white;
    height: 800px;
}

div.fandom-container>div {
    border: dotted;
}

.fandom-image {
    flex-basis: 60%;
}

.fandom-text {
    flex-basis: 40%;
    flex-grow: 1;
}

/* Download section*/

.download {
    background-color: #F6F6F6;
    height: 800px;
}

.download-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
}

div.download-container>div {
    border: dotted;
    flex-basis: 100%;
    height: 700px;
    border: dotted;
    text-align: center;
}

.stars {
    background-size: contain;
    background-image: url(../img/stars.svg);
    width: 50%;
    margin: 0 auto;
}

.blue-button {
    background-color: #8EA1E1;
    color: white;
}

/* FOOTER */

/* Main footer */
.main-footer {
    background-color: #23272A;
    height: 1000px;
    color: white
}

.main-footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    height: 40%;
    padding: 10px;

}

.flag {
    height: 15px;
    width: auto;
}


.main-footer-social {
    flex-basis: 30%;
    height: 80%;
    padding-right: 50px;
}

footer h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #8EA1E1;
}


.logos {
    color: #fff;
    margin-top: 10px;
}

i {
    margin-right: 15px;
}

.main-footer-aboutus {
    flex-basis: 70%;

    height: 80%;
    display: flex;

}

footer ul {
    color: #8EA1E1;
    font-weight: bold;
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    color: white;
    margin-top: 5px;
}

div.main-footer-aboutus>div {
    flex-basis: 25%;
}

/* Secondary footer */
.secondary-footer {
    background-color: #23272A;
    height: 200px;
}

.secondary-footer-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    height: 50%;
    border-top: 2px solid white;
}

div.secondary-footer-container>div {

    height: 50px;
    flex-basis: 10%
}

div.secondary-footer button {
    color: white;
    background-color: #8EA1E1;
}